.create-password--form {
  padding-bottom: 25px;
}

.create-password--form label {
  margin-top: 20px;
  margin-bottom: 8px;
  display: block;
}

.passwordForm input {
  width: 320px;
}

@media screen and (max-width: 600px) {
  .passwordForm input {
    width: 100% !important;
  }
}

.create-password--heading {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #6c7bff;
  margin-top: 40px;
}

.create-password--sub {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #707070;
}
